create-activity {
  display: block;

  md-content{
    padding: 4px;
    height: 0;
  }

  .md-button.md-default-theme.md-fab {
    /*position: absolute;*/
    font-size: 1.2em;
  }

  .md-button.md-default-theme.md-fab span {
    font-size: 1em;
  }
}
