<md-dialog flex="30">
  <md-content>
    <div flex="15">
      <h3>Logga in</h3>
      <form name="loginForm" ng-submit="loginForm.$valid && loginUser(loginData)" md-theme="forms" novalidate>
        <md-input-container>
          <label>Epost</label>
          <input ng-model="loginData.email" type="email" name="email" title="email" required/>
          <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
            <div ng-message="required">Epost krävs</div>
            <div ng-message="email">Ange en giltig epost</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Lösenord</label>
          <input ng-model="loginData.password" type="password" minlength="8" name="password" title="password" required/>
          <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
            <div ng-message="required">Lösenord krävs</div>
            <div ng-message="minlength">Minst 8 tecken</div>
          </div>
        </md-input-container>

        <div ng-if="loginFailed">
          <p class="login-response-message">Incorrect username and/or password.</p>
        </div>

        <div class="md-actions">
          <md-button>Logga in</md-button>
        </div>
      </form>
    </div>
    <!--<div flex="40">-->
      <!--test-->
    <!--</div>-->
  </md-content>
</md-dialog>
