<md-dialog flex="30">
  <md-content>
    <div flex="15">
      <h3>Login</h3>
      <form name="loginForm" ng-submit="loginForm.$valid && loginUser(loginData)" novalidate>
        <md-input-container>
          <label>Enter email</label>
          <input ng-model="loginData.email" type="email" name="email" title="email" placeholder="Enter email" required/>
        </md-input-container>

        <md-input-container>
          <label>Enter password</label>
          <input ng-model="loginData.password" type="password" minlength="8" name="password" title="password" placeholder="Enter password" required/>
        </md-input-container>

        <div class="md-actions">
          <md-button>Login</md-button>
        </div>
      </form>
    </div>
    <!--<div flex="40">-->
      <!--test-->
    <!--</div>-->
  </md-content>
</md-dialog>
