<md-content flex>

  <!-- Activities filtering -->
  <div layout="row" layout-sm="column" layout-md="column" class="filter-wrapper">
    <md-autocomplete flex class="search-field"
      ng-disabled="ctrl.isDisabled"
      md-search-text="ctrl.searchText"
      md-items="item in ctrl.cacheQuery(ctrl.searchText)"
      ng-init="ctrl.searchText = ctrl.getCachedQuery() ? ctrl.getCachedQuery() : ctrl.resetQueryCache()"
      placeholder="Search">
    </md-autocomplete>
    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_search_24px.svg"></md-icon>

    <div flex layout="row" layout-align="center">
      <md-select id="categories" ng-model="data.categoryObj">
        <md-select-label>{{data.categoryObj.category ? data.categoryObj.category : 'Categories'}}</md-select-label>
        <md-option ng-value="true">alla </md-option>
        <md-option ng-value="c" ng-repeat="c in ctrl.categories">{{c.category}}</md-option>
      </md-select>
    </div>

    <div flex layout="row" layout-align="start" layout-align-md="center" layout-align-sm="center">
      <near-activities-button></near-activities-button>
    </div>
  </div>
  <!-- Activities filtering end -->

  <!-- Looping out activities list -->
  <div layout="column">
    <a ng-repeat="activity in ctrl.activities | filter: ctrl.getCategoryFilter() | filter: ctrl.getCachedQuery()" ui-sref="activity({id: activity.id})">
      <md-card>
        <h2>{{activity.name}}</h2>
        <p>{{activity.description}}</p>
      </md-card>
    </a>
  </div>
  <!-- Looping out activities list end -->
</md-content>
