
<!-- Transclude the create-activity view -->
<md-content flex>
  <div layout="row" class="filter-wrapper">
    <md-autocomplete flex class="search-field"
      ng-disabled="ctrl.isDisabled"
      md-search-text="ctrl.searchText"
      md-items="item in ctrl.search(data.filterType)"
      placeholder="Search activity">
      <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
    </md-autocomplete>
    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_search_24px.svg"></md-icon>
    <div flex layout="row" layout-align="center">
      <!--<md-radio-group ng-model="data.filterType">-->
        <!--<md-radio-button value="activity">Search on activity</md-radio-button>-->
        <!--<md-radio-button value="creator"> Search on creator </md-radio-button>-->
      <!--</md-radio-group>-->
      <hr />
    </div>
    <div flex layout="row" layout-align="center">
      <md-select id="categories" ng-model="data.categoryObj">
        <md-select-label>{{data.categoryObj.category ? data.categoryObj.category : 'Categories'}}</md-select-label>
        <md-option>alla </md-option>
        <md-option ng-value="c" ng-repeat="c in ctrl.categories">{{c.category}}</md-option>
      </md-select>
    </div>
  </div>
  <div layout="column">
    <a ng-repeat="activity in ctrl.activities | filter: data.categoryObj.category | filter: ctrl.searchText" ui-sref="activity({id: activity.id})">
      <md-card>
        <h2>{{activity.name}}</h2>
        <p>{{activity.description}}</p>
      </md-card>
    </a>
  </div>
</md-content>
